{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "safari >= 7"]
        }
      }
    ], "react-app"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "syntax-dynamic-import",
    ["import", { "libraryName": "antd-mobile", "style": "css" }],
    ["module-resolver",
    {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }]
  ]
}