@import './Variable.styl';

body
  font-family: "Monospace Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5
  color: #314659
  font-size: 14px
#app
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column
  align-content: stretch
  align-items: stretch
  .default-page-style
    flex: 1

/* divice orientation */
@media screen and (orientation: portrait) {
  /*竖屏 css*/
} 
@media screen and (orientation: landscape) {
  /*横屏 css*/
}