
/* roboto-300 - latin */
@font-face 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../static/fonts/roboto-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../static/fonts/roboto-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* roboto-300italic - latin */
@font-face 
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../static/fonts/roboto-v16-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../static/fonts/roboto-v16-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

.display-1
  font-size: 1.2em
  font-weight: bold

.display-2
  font-size: 1.2em
  
// 24
.headline
  font-size: 0.9em
  font-weight: 400

// 20
.text-title
  font-size: 0.7em
  font-weight: 500
  letter-spacing: .005em

// 16
.subhead
  font-size: 0.65em
  font-weight: 400
  letter-spacing: .01em

// 14
.body-1
  font-size 0.52em
  font-weight: 400
  letter-spacing: .01em
  line-height: 1.7

// 14
.body-2
  font-size 0.52em
  font-weight: 500
  line-height: 1.7

// 12
.caption
  font-size 0.5em
  letter-spacing: .02em

.break-word
  white-space: nowrap